body {
  margin: 0px;
}

h1 { font-family: ‘Lato’,sans-serif; font-weight: 400; }

#wrapper { 
text-align: center; 
}

#contentHeader {
 height: 343px;
 width: 100%;
 background-image:url('/template/img/hdrBg.png');
 background-repeat:repeat-x;
}

#menuHeader{
  width: 989px;
  text-align: left;
  margin: 0 auto;
}

#insideHdr{
  text-align: center;
  width: 989px;
  height: 343px;	  
  margin: 0 auto; 
  background-image:url('/template/img/insideHdr.png');
  background-repeat: no-repeat;
}

 
#content { 
   text-align: left; 
   width: 989px; 
   margin: 0 auto; 
} 


#menuLogo {
  display: inline;
}

#nav {
  float: right;
  display: inline;
}

.current_page_item a {
  padding:1px 9px 2px;
  font-size:12px;
  font-size:1.2rem;
  font-weight:bold;
  white-space:nowrap;
  color:#808080;
  background-color:#e6e6e6;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius:9px;
  -webkit-transition:background-color .25s 0 linear;
  -moz-transition:background-color .25s 0 linear;
  -ms-transition:background-color .25s 0 linear;
  -o-transition:background-color .25s 0 linear;
  transition:background-color .25s 0 linear;
  color:#fff;
  background-color:#414141;
}

.current_page_item a:hover {
  color:#808080;
  text-decoration:none;
  cursor:pointer;
}

.current_page_item a:visited, 
.current_page_item a:hover {
  color:#fff;
}
