body {
  margin: 0px;
  color: #1C6AAE;
}

h1 { font-family: ‘Lato’,sans-serif; font-weight: 400; }

#wrapper { 
text-align: center; 
}

#contentHeader {
 height: 343px;
 width: 100%;
 background-image:url('/template/img/hdrBg.png');
 background-repeat:repeat-x;
}

#menuHeader{
  width: 989px;
  text-align: left;
  margin: 0 auto;
}

#insideHdr{
  text-align: center;
  width: 989px;
  height: 343px;	  
  margin: 0 auto; 
  background-image:url('/template/img/insideHdr.png');
  background-repeat: no-repeat;
}

 
#contentFirst { 

   text-align: left; 
   width: 989px; 
   margin: 0 auto; 
   margin-top: 50px;
} 

#contentFirstText{
  width: 675px;
}

#contentFirstText h2 { 
  font-family: ‘Lato’,sans-serif; font-weight: 300;
  font-size: 18px; 
}

#contentFirstBlurb{
  float: right;
}

#contentFirstBlogBlurb{

  height: 75px;
  width: 220px;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius:9px;
  border: 1px solid black;

}

#contentOfferings { 
   text-align: left; 
   width: 989px; 
   margin: 0 auto; 
} 

p, ol, ul, dl, address {
  margin-bottom:1.5em;
  font-size:14px;
  font-size:1.4rem;
  line-height:1.5em;
}

ul, ol {
  margin:0 0 1.5em -24px;
  padding:0;
}

li ul, li ol {
  margin:0;
  font-size:16px;
  font-size:1.6rem;
}



a {
  text-decoration:none;
  color:#404040;
}

a:visited {
  color:#000;
}

a:hover {
  text-decoration:underline;
  color:#000;
}

a:focus {
  outline:thin dotted;
  color:#000;
}

a:hover, a:active {
  outline:0;
}


#menuLogo {
  display: inline;
}

#nav {
  float: right;
  display: inline;
  list-style:none;
  margin-top: 10px;
}

#nav ul li {
  list-style:none;
  display: inline;
}

#nav li {
  margin-left: 20px;
  font-size: 12px;
  font-family: ‘Lato’,sans-serif; font-weight: 400;
}

#hdrTextHeader{
  width: 989px;
  float: right;
  margin-top: -20px;
  text-align: right;
  display: inline;
}

#hdrTextHeader h1 {
  font-family: ‘Lato’,sans-serif; font-weight: 100;
  text-align: right;
  line-height:150%;
  font-size: 24px;

}

.current_page_item a {
  padding:1px 9px 2px;
  font-size:12px;
  /* font-size:1.2rem; */
  font-weight:bold;
  white-space:nowrap;
  color:#808080;
  background-color:#1C6AAE;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius:9px;
  -webkit-transition:background-color .25s 0 linear;
  -moz-transition:background-color .25s 0 linear;
  -ms-transition:background-color .25s 0 linear;
  -o-transition:background-color .25s 0 linear;
  transition:background-color .25s 0 linear;
  color:#fff;
  background-color:##1C6AAE;
}

.current_page_item a:hover {
  color:#808080;
  text-decoration:none;
  cursor:pointer;
}

.current_page_item a:visited, 
.current_page_item a:hover {
  color:#fff;
}



